* {
  margin: 24px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}

.container {
  width: 50%;
  margin: auto;
}

.component-container {
  margin-bottom: 120px;
}
